<!DOCTYPE html>
<html>
<head>

<title>CRYPTIC CROSSWORD</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
    
</head>
<body>
    
    <div class="contact-title">
    <h1>EVENT-CRACK THE CLUE</h1>
    <h2>please fill the details</h2>
    </div>
    
    
    <div class="contact-form">
    <form id="contact-form" method="post" >
    <input name ="SAMNIVESHA ID" type="text"  class="form-control" placeholder="SAMNIVESHA ID" required>
           
    <br>
        <input name ="email" type="email"  class="form-control" placeholder="Your Email" required> <br>
        
     <br>
        <input name ="phone" type="phone-no"  pattern="[0-9]{10}" class="form-control" placeholder="PHONE NUMBER" required> <br>
        
    
        <button type="button" href="/crossword" name="button" class="form-control submit">
            <a href="/crossword">
              SUBMIT
            </a>
          </button>
    
        </form>
    </div>
    
    
    
    
    
    </body>    
    

</html>