
<!DOCTYPE html>
<html>
<head>
<title>CRYPTIC CROSSWORD EVENT</title>
    
    <link rel="stylesheet" type="text/css" href="style.css">
    
<!--<link rel="stylesheet" type="text/css" href="./css/crosswordPuzzle.css" > -->
<link rel="stylesheet" type="text/css" href="style.css">
    
</head>
<body>
	<form class="fixed-ht" action="/register" method="post" autocomplete="off">
          <label>
            <p class="label-txt">FULLL NAME</p>
            <input type="text" class="input" name="FULLL NAME">
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label>
          <label>
            <p class="label-txt">SAMNVIESHA ID</p>
            <input type="text" class="input" name="SAMNVIESHA ID">
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label>
          <label>
            <p class="label-txt">EMAIL</p>
            <input type="email" class="input" name="EMAIL">
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label>
          <label>
            <p class="label-txt">CONTACT NUMBER</p>
            <input type="tel" class="input" pattern="[0-9]{10}" name="contactnumber">
            <div class="line-box">
              <div class="line"></div>
            </div>
          </label>
          <button type="button" href="/crossword" name="button">
            <a href="/crossword">
              Next
            </a>
          </button>

        </form>

	<!-- <h2 align="center" class="cwp_h2_main">Crossword Puzzle</h2> -->

</body>
</html>
